<% content_for(:title){"#{@member.name} - 멤버 수정"} %>
<%= form_for @member, :as => :member, :url => admin_member_path, :html => {:method => 'PUT', :multipart => true } do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= @member.errors.count %>개의 에러가 발생했습니다:</h2>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field 'from_form', :value => 1 %>

  <div class="table">
		<table class="listing form" cellpadding="0" cellspacing="0">
			<img src="/images/admin/bg-th-left.gif" width="8" height="7" alt="" class="left" />
			<img src="/images/admin/bg-th-right.gif" width="7" height="7" alt="" class="right" />
			<tr>
				<th class="full" colspan="2"><%= yield(:title) %></th>
			</tr>
			<tr>
				<td class="first" width="150"><strong>이름</strong></td>
				<td class="last"><%= f.text_field 'name' %></td>
			</tr>
			<tr>
				<td class="first" width="150"><strong>이름(영문)</strong></td>
				<td class="last"><%= f.text_field 'name_eng' %></td>
			</tr>
			<tr>
				<td class="first" width="150"><strong>등급</strong></td>
				<td class="last"><%= f.select :grade, Member.available_grades, {:selected => @member.grade} %></td>
			</tr>
			<tr>
				<td class="first" width="150"><strong>이메일</strong></td>
				<td class="last"><%= f.text_field 'email' %></td>
			</tr>
			<tr>
				<td class="first" width="150"><strong>트위터</strong></td>
				<td class="last"><%= f.text_field 'twitter' %></td>
			</tr>
			<tr>
				<td class="first" width="150"><strong>소속(학교)</strong></td>
				<td class="last"><%= f.text_field 'school' %></td>
			</tr>
			<tr>
				<td class="first" width="150"><strong>웹사이트</strong></td>
				<td class="last"><%= f.text_field 'website' %></td>
			</tr>
			<tr>
				<td class="first" width="150"><strong>태그</strong></td>
				<td class="last">
          <% for tag in Member.available_tags %>
            <%= check_box_tag 'member[tag_names][]', tag, @member.tags.include?(tag) %>
            <%= tag %>
          <% end %>
        </td>
			</tr>
			<tr>
				<td class="first" width="150"><strong>기술</strong></td>
				<td class="last">
          <% @member.skills.each do |skill| %>
            <div class="skill">
              <label>종류:</label><%= text_field_tag 'member[skill_inputs][][name]', skill[:name], :class => 'skill_name' %>
              <label>숙련도:</label><div class="skill_slider"></div><%= text_field_tag 'member[skill_inputs][][degree]', skill[:degree], {:class=> 'skill_degree', :readonly => true}%>
            </div>
          <% end %>
          <% for i in (1..5-@member.skills.length) %>
            <div class="skill">
              <label>종류:</label><%= text_field_tag 'member[skill_inputs][][name]', '', :class => 'skill_name' %>
              <label>숙련도:</label><div class="skill_slider"></div><%= text_field_tag 'member[skill_inputs][][degree]', 0, {:class=> 'skill_degree', :readonly => true}%>
            </div>
          <% end %>
        </td>
			</tr>
			<tr>
				<td class="first" width="150"><strong>프로젝트</strong></td>
				<td class="last">
          <% for project in Project.all %>
            <%= check_box_tag 'member[project_ids][]', project.id, @member.projects.include?(project) %>
            <%= project.name %>
          <% end %>
        </td>
			</tr>
			<tr>
				<td class="first" width="150"><strong>이전 프로젝트</strong></td>
				<td class="last">
          <% for project in Project.all %>
            <%= check_box_tag 'member[prev_project_ids][]', project.id, @member.prev_projects.include?(project) %>
            <%= project.name %>
          <% end %>
        </td>
			</tr>
			<tr>
				<td class="first" width="150"><strong>이력서</strong></td>
				<td class="last"><%= f.file_field 'resume' %><%= @member.resume_file_name if @member.resume.file? %></td>
			</tr>
			<tr>
				<td class="first" width="150"><strong>전신샷</strong></td>
				<td class="last"><%= f.file_field 'profile' %><%= image_tag(@member.profile.url(:thumb)) if @member.profile.file? %></td>
			</tr>
			<tr>
				<td class="first" width="150"><strong>섬네일1</strong></td>
				<td class="last"><%= f.file_field 'list1' %><%= image_tag(@member.list1.url(:thumb)) if @member.list1.file? %></td>
			</tr>
			<tr>
				<td class="first" width="150"><strong>섬네일2</strong></td>
				<td class="last"><%= f.file_field 'list2' %><%= image_tag(@member.list2.url(:thumb)) if @member.list2.file? %></td>
			</tr>
			<tr>
				<td class="first" width="150"><strong>코멘트</strong></td>
				<td class="last"><%= f.text_area 'comment' %></td>
			</tr>
		</table>
  </div>

  <div class="actions">
    <%= f.submit '멤버 수정' %>
  </div>
<% end %>
<script type="text/javascript">
$(function(){
  $('.skill_slider').each(function(i){
    $(this).slider({
      value: $('.skill_slider').eq(i).next().val(),
      range: 'min',
      min: 0,
      max: 100,
      slide: function(e, ui){
        $(this).next().val(ui.value)
      }
    });
  });
});
</script>
