<h2>로그인 해 주세요.</h2>
<p><%= flash[:notice] %></p>
<p><%= flash[:error] %></p>
<%= form_tag '/admin/authorize' do %>
  <%= label_tag 'id', '아이디: ' %>
  <%= text_field_tag 'id', '', {:placeholder => 'id', :tabindex => 1} %><br />
  <%= label_tag 'password', '비밀번호: ' %>
  <%= password_field_tag 'password', '', {:placeholder => 'password', :tabindex => 2} %>
  <%= submit_tag 'login' %>
<% end %>
