<% content_for(:title){"#{@project.name} - 프로젝트 수정"} %>
<%= form_for @project, :as => :project, :url => admin_project_path, :html => {:multipart => true, :method => 'PUT' } do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= @project.errors.count %>개의 에러가 발생했습니다:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field 'from_form', :value => 1 %>

  <div class="table">
		<table class="listing form" cellpadding="0" cellspacing="0">
			<img src="/images/admin/bg-th-left.gif" width="8" height="7" alt="" class="left" />
			<img src="/images/admin/bg-th-right.gif" width="7" height="7" alt="" class="right" />
			<tr>
				<th class="full" colspan="2"><%= yield(:title) %></th>
			</tr>
			<tr>
				<td class="first" width="150"><strong>프로젝트명</strong></td>
				<td class="last"><%= f.text_field 'name' %></td>
			</tr>
			<tr>
				<td class="first" width="150"><strong>설명</strong></td>
				<td class="last"><%= f.text_area 'description' %></td>
			</tr>
			<tr>
				<td class="first" width="150"><strong>시작일</strong></td>
				<td class="last"><%= f.text_field 'start_date' %></td>
			</tr>
			<tr>
				<td class="first" width="150"><strong>상태</strong></td>
				<td class="last"><%= f.select :status, Project.available_statuses, {:selected => @project.status} %></td>
			</tr>
			<tr>
				<td class="first" width="150"><strong>링크</strong></td>
				<td class="last"><%= f.text_field 'link' %></td>
			</tr>
			<tr>
				<td class="first" width="150"><strong>멤버</strong></td>
				<td class="last">
          <% for member in Member.all %>
            <%= check_box_tag 'project[member_ids][]', member.id, @project.members.include?(member) %>
            <%= member.name %>
          <% end %>
        </td>
			</tr>
			<tr>
				<td class="first" width="150"><strong>스크린샷</strong></td>
				<td class="last">
          <% for screenshot in @project.screenshots %>
            <%= image_tag screenshot.image.url(:thumb) %>
            <%= screenshot.image_file_name %>
            <%= link_to image_tag('admin/hr.gif'), admin_screenshots_path(screenshot), :confirm => 'Are you sure?', :method => :delete %><br />
          <% end %>
          <% for i in (1..5-@project.screenshots.length) %>
            <%= file_field_tag 'project[screenshot_files][]' %><br />
          <% end %>
        </td>
			</tr>
		</table>
  </div>

  <div class="actions">
    <%= f.submit '프로젝트 수정' %>
  </div>
<% end %>
