<% content_for(:title){"문의 관리"} %>
<p><%= flash[:notice] %></p>
<p><%= flash[:error] %></p>
<p>이름을 클릭하면 내용을 볼 수 있습니다</p>
<div class="table">
	<img src="/images/admin/bg-th-left.gif" width="8" height="7" alt="" class="left" />
	<img src="/images/admin/bg-th-right.gif" width="7" height="7" alt="" class="right" />
<table class="listing" cellpadding="0" cellspacing="0">
  <tr>
    <th class="first">이름</th>
    <th>이메일</th>
    <th>전화번호</th>
    <th>날짜</th>
    <th>상태</th>
    <th class="last">삭제</th>
  </tr>

<% @contacts.each do |contact| %>
  <tr id="contact_<%= contact.id %>" class="contact <%= 'unread' if contact.status == 'unread'%>">
    <td><%= contact.name %></td>
    <td><%= contact.email %></td>
    <td><%= contact.phone %></td>
    <td><%= contact.created_at.strftime("%Y-%m-%d %H:%M") %></td>
    <td>
      <%= select_tag :status, options_for_select(Contact.available_statuses, contact.status).html_safe %>
      <%= link_to_function '변경', "change_status(#{contact.id})" %>
    </td>
    <td><%= link_to image_tag('admin/hr.gif'), admin_contact_url(contact), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <tr id="contact_content_<%= contact.id %>" class="contact_content <%= 'unread' if contact.status == 'unread'%>">
    <td colspan="6">
      <%= contact.message %>
    </td>
  </tr>
<% end %>
</table>
</div>
<div style="clear:both"></div>

<script type="text/javascript">
function change_status(id){
  var new_status = $('#contact_'+id).find('select').val();
  $.ajax({
    type: 'PUT',
    data: {'contact': {'status': new_status }},
    url: '/admin/contacts/'+id,
    success: function(){
      alert('status changed!');
      if(new_status == 'unread'){
        $('#contact_'+id).addClass('unread');
      }
      else{
        $('#contact_'+id).removeClass('unread');
      }
    },
    error: function(){
      alert('failed to change status!');
    }
  });
}
$(function(){
  $('tr.contact td:first-child').toggle(function(e){
    $(this).parent().next().show();
  }, function(e){
    e.stopPropagation();
    $(this).parent().next().hide();
  });
});
</script>
