<% content_for(:title){"New Carousel"} %>
<%= form_for @carousel, :url => admin_carousels_path, :html => {:multipart => true } do |f| %>
  <% if @carousel.errors.any? %>
    <div id="error_explanation">
      <h2><%= @carousel.errors.count %>개의 에러가 발생했습니다:</h2>

      <ul>
      <% @carousel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field 'from_form', :value => 1 %>

  <div class="table">
		<table class="listing form" cellpadding="0" cellspacing="0">
			<img src="/images/admin/bg-th-left.gif" width="8" height="7" alt="" class="left" />
			<img src="/images/admin/bg-th-right.gif" width="7" height="7" alt="" class="right" />
			<tr>
				<th class="full" colspan="2"><%= yield(:title) %></th>
			</tr>
			<tr>
				<td class="first" width="150"><strong>이미지</strong></td>
				<td class="last"><%= f.file_field 'c_image' %></td>
			</tr>
			<tr>
				<td class="first" width="150"><strong>visibility</strong></td>
				<td class="last"><%= f.select :visibility, Carousel.available_visibility_options  %></td>
			</tr>
			<tr>
				<td class="first" width="150"><strong>action type</strong></td>
				<td class="last">
          <%= f.text_field 'action_type' %>
          <p>available types: 'project', 'url', 'member'</p>
        </td>
			</tr>
			<tr>
				<td class="first" width="150"><strong>action value</strong></td>
				<td class="last">
          <%= f.text_field 'action_value' %>
          <p>project -> project_id, url -> some url, member -> member_id</p>
        </td>
			</tr>
		</table>
  </div>

  <div class="actions">
    <%= f.submit 'Register Carousel' %>
  </div>
<% end %>
