<header>
  <h1>Members</h1>
</header>
<%= render :partial => 'layouts/navigation', :locals => {:cur => 'members'} %>
<article>
  <ul id="member_tags">
  <% Member.available_tags.each do |tag| %>
    <li style="background: <%= Member.tag_color[tag] %>;"><%= tag %></li>
  <% end %>
  </ul>
  <ul id="member_list">
  <% @members.each do |member| %>
    <li id="member_<%= member.id %>" data-id="<%= member.id %>" class="member" data-tags="<%= member.tags.join(',') %>">
      <%= image_tag member.list1.url(:thumb), :class => 'member_thumb' %>
      <span class="name"><%= member.name %></span>
      <div class="tagbars">
      <% for tag in member.tags %>
        <span class="tagbar" style="background: <%= Member.tag_color[tag] %>;"></span>
      <% end %>
      </div>
    </li>
  <% end %>
  </ul>
</article>
