<header>
  <h1>Projects</h1>
  <h2>와플스튜디오가 개발 및 운영중인 서비스입니다</h2>
</header>
<%= render :partial => 'layouts/navigation', :locals => {:cur => 'projects'} %>
<article>
<!--commented out-->
<% if false %>
  <ul id="project_list">
  <% @projects.each do |project| %>
    <li id="project_<%= project.id%>" data-id="<%= project.id %>" class="project">
      <%= image_tag project.screenshots.first.image.url(:middle), {'data-id' => project.id} %>
      <span class="name"><%= project.name %></span>
      <span class="subtitle"><%= project.subtitle %></span>
    </li>
  <% end %>
  </ul>
<% end %>
<!--commented out-->

  <ul id="project_list">
  <% @projects.each do |project| %>
    <li id="project_<%= project.id%>" data-id="<%= project.id %>" class="project">
      <%= image_tag project.featured.image.url(:featured), {'data-id' => project.id} unless project.featured.nil? %>
      <div class="handle"></div>
      <div class="project_overlay">
        <div class="project_name"><%= project.logo.nil? ? project.name : image_tag(project.logo.image.url(:logo))  %></div>
        <div class="project_subtitle"><%= project.subtitle %></div>
      </div>
    </li>
  <% end %>
  </ul>


</article>
