<!DOCTYPE html>
<html>
<head>
  <title>WaffleStudio</title>
  <meta charset="UTF-8" />
  <meta name="keywords" content="Wafflestudio, 와플스튜디오, 웹개발, Web Development, snuev, 서울대학교" />
  <meta name="description" content="맛있는 웹을 만드는 동아리, 와플스튜디오입니다." />
  <meta name="author" content="wafflestudio" />
  <meta name="publisher" content="Hoseong Hwang" />
  <%= csrf_meta_tag %>
  <!--[if IE]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag ['reset', 'style', 'tipsy', 'nivo-slider', 'colorbox', 'impromptu', 'slider', 'aga'] %>
	<!--[if lt IE 8]>
	<link rel="stylesheet" type="text/css" href="/stylesheets/ie7-and-down.css" />
	<![endif]-->
  <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag :jquery %>
  <%= javascript_include_tag ['jquery.nivo.slider', 'twitter-entities.js', 'jquery.tmpl.min', 'jquery.form', 'jquery.tipsy', 'jquery.colorbox-min', 'jquery.impromptu.min', 'jquery.slider', 'aga.min', 'application'] %>
</head>
<body>
  <div id="container">
    <section id="home">
      <%= render :partial => 'layouts/home' %>
    </section>
    <section id="about_us">
      <%= render :partial => 'layouts/about_us' %>
    </section>
    <section id="members">
      <%= render :partial => 'layouts/member_list' %>
    </section>
    <section id="projects">
      <%= render :partial => 'layouts/project_list' %>
    </section>
    <section id="contact">
      <%= render :partial => 'layouts/contact' %>
    </section>
		<footer>
		</footer>
  </div>
  <a href="#top" id="top">top</a>
  <%= render :partial => 'layouts/tweet_template' %>
  <%= render :partial => 'layouts/member_template' %>
  <%= render :partial => 'layouts/project_template' %>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-21991011-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>
