<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:og="http://ogp.me/ns#"
  xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
  <title>WaffleStudio</title>
  <meta charset="UTF-8" />
  <meta name="keywords" content="WaffleStudio, 와플스튜디오, 웹개발, Web Development, snuev, 서울대학교" />
  <meta name="description" content="맛있는 웹을 만드는 동아리, 와플스튜디오입니다." />
  <meta name="author" content="Wafflestudio" />
  <meta name="publisher" content="Hoseong Hwang" />
  <meta property="og:title" content="WaffleStudio"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="http://wafflestudio.com/images/wafflestudio_logo.jpg"/>
  <meta property="og:url" content="http://wafflestudio.com"/>
  <meta property="og:description" content="맛있는 웹을 만드는 동아리, 와플스튜디오입니다." />
  <meta property="fb:app_id" content="353748157973372"/>
  <%= csrf_meta_tag %>
  <!--[if IE]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag 'application' %>
	<!--[if lt IE 8]>
	<link rel="stylesheet" type="text/css" href="/stylesheets/ie7-and-down.css" />
	<![endif]-->
	<!--[if IE 8]>
	<link rel="stylesheet" type="text/css" href="/stylesheets/ie8.css" />
	<![endif]-->
  <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application' %>
</head>
<body>

  <div id="container">
    <section id="home">
      <%= render :partial => 'layouts/home' %>
    </section>
    <section id="about_us">
      <%= render :partial => 'layouts/about_us' %>
    </section>
    <section id="members">
      <%= render :partial => 'layouts/member_list' %>
    </section>
    <section id="projects">
      <%= render :partial => 'layouts/project_list' %>
    </section>
    <section id="contact">
      <%= render :partial => 'layouts/contact' %>
    </section>
		<footer>
		</footer>
  </div>

  <a href="#top" id="top">top</a>
  <%= render :partial => 'layouts/tweet_template' %>
  <%= render :partial => 'layouts/member_template' %>
  <%= render :partial => 'layouts/project_template' %>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-21991011-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>
