<!DOCTYPE html>
<html>
<head>
  <title>Waffle Studio</title>
  <!--[if IE]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag ['reset', 'style', 'tipsy', 'nivo-slider', 'colorbox'] %>
  <%= javascript_include_tag :jquery %>
  <%= javascript_include_tag ['jquery.nivo.slider', 'twitter-entities.js', 'jquery.tmpl.min', 'jquery.form', 'jquery.tipsy', 'jquery.colorbox-min', 'application'] %>
  <%= csrf_meta_tag %>
  <%= render :partial => 'layouts/tweet_template' %>
  <%= render :partial => 'layouts/member_template' %>
  <%= render :partial => 'layouts/project_template' %>
</head>
<body>
  <div id="container">
    <section id="home">
      <%= render :partial => 'layouts/home' %>
    </section>
    <section id="about_us">
      <%= render :partial => 'layouts/about_us' %>
    </section>
    <section id="members">
      <%= render :partial => 'layouts/member_list' %>
    </section>
    <section id="projects">
      <%= render :partial => 'layouts/project_list' %>
    </section>
    <section id="contact">
      <%= render :partial => 'layouts/contact' %>
    </section>
    <footer>
    </footer>
  </div>
  <div id="invisible" style="display:none;"></div>
</body>
</html>
